@model inmobilariaCeli.Models.Contrato

<h2>Detalles del Contrato</h2>

<dl class="row">
    <dt class="col-sm-2">Propiedad</dt>
    <dd class="col-sm-10">@Model.PropiedadDireccion</dd>

    <dt class="col-sm-2">Inquilino</dt>
    <dd class="col-sm-10">@Model.InquilinoNombre</dd>

    <dt class="col-sm-2">Fecha Inicio</dt>
    <dd class="col-sm-10">@Model.FechaInicio.ToShortDateString()</dd>

    <dt class="col-sm-2">Fecha Fin</dt>
    <dd class="col-sm-10">@Model.FechaFin.ToShortDateString()</dd>

    <dt class="col-sm-2">Monto Mensual</dt>
    <dd class="col-sm-10">$@Model.MontoMensual</dd>

    <dt class="col-sm-2">Depósito</dt>
    <dd class="col-sm-10">$@Model.Deposito</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Volver</a>